.root {
  -fx-background-image: url("old-parchment_50pct.png");
  -fx-background-position: center;
  -fx-background-size: cover;
}

.clue-notes {
  -fx-background-image: url("notepad-1706662_640ext.png");
  -fx-background-size: cover;
}

.note-hdg-1 {
  -fx-font-size: 2em;
}

.note-hdg-2 {
  -fx-font-size: 1.5em;
  -fx-font-weight: bold;
  -fx-padding: 0.75em 8px 8px 8px;
}

.ctrl-btn {
  -fx-background-radius: 0.75em;
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 16px;
}

.move-btn {
  -fx-background-color: #337AB7;
}

.sugg-btn {
  -fx-background-color: #E67300;
}

.acc-btn {
  -fx-background-color: #D9534F;
}